
/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

*{
  border-color: initial;
}

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
}
p { margin-bottom: 1rem;}
h1 {
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 0.9;
}
h2 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 0.9;
}
h2 span {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: none;
  line-height: 0.8;
}
h4 {
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}
.button {
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  display: inline-block;
  @apply bg-black text-white border dark:bg-white dark:text-black;

}
.button:hover {
  transition: all 0.2s;
  @apply bg-white text-black border-black dark:bg-black dark:text-white dark:border-white;
}

.rotate-text-180 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  @apply rotate-180;
}
/* header footer */
header a {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
footer a {
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  margin-right:0.4rem;
  display: block;
}
footer h4 {
  font-weight: 800;
  @apply mb-2;
}
/* form */
label, input, button, textarea {
  display: block;
}
label {
  @apply uppercase font-black;
}
input, textarea {
  margin-bottom: 1rem;
  color: black;
}
input:focus, textarea:focus {
  outline: none;
}
input::placeholder {
  @apply dark:text-white;
}
input::placeholder, textarea::placeholder {
  @apply text-black dark:text-white;
}
input {
  @apply dark:bg-transparent;
}
textarea {
  @apply dark:border dark:border-white dark:bg-transparent;
}