<footer class="">
    <div class="max-w-screen-xl mx-auto grid sm:grid-cols-3 p-10 border-t-2 border-black flex sm:justify-between text-center sm:text-left">
            
        <div class="mb-8 sm:mb-0">
            <h4>lorem ipsum</h4>
            <nav class="mb-2">
                <a href="">link 1</a>
                <a href="">link 2</a>
                <a href="">link 3</a>
                <a href="">link 4</a>
            </nav>
        </div>
        <div class="mb-8 sm:mb-0">
            <h4 class="mb-2">lorem ipsum</h4>
            <nav>
                <a href="">link 1</a>
                <a href="">link 2</a>
                <a href="">link 3</a>
                <a href="">link 4</a>
            </nav>
        </div>
        <form class=" sm:text-right sm:pl-[15%]">
            <h4>
                <label class="pl-0 " for="subscribe">Subscribe to our newsletter</label>                    
            </h4>

            <input id="subscribe" name="subscribe" type="text" class="border-2 border-black w-full">
            <div class="text-right">
                <button type="submit" value="SUBSCRIBE" class="button bg-black text-white mt-5">Subscribe</button>                    
            </div>

        </form>



    </div>

</footer>